@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Tinos&display=swap");
$sans: "Open Sans", Arial, sans-serif;
$tinos: Tinos, "Times New Roman", serif;
$cook: Cookie, Arial, sans-serif;
